@model PracticeEF.ResourceAccess.Entities.Customers
@{
    ViewBag.Title = "Create Customer";
}

@using (Html.BeginForm("InsertAction", "Customers"))
{
<fieldset>
    <legend>Create Customer</legend>

    <p><strong>CustomerID</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.CustomerID, new { maxlength = 5 })
    </div>

    <p><strong>Company Name</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.CompanyName, new { maxlength = 40 })
    </div>

    <p><strong>Contact Name</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.ContactName, new { maxlength = 30 })
    </div>

    <p><strong>Address</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Address, new { maxlength = 60 })
    </div>

    <p><strong>City</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.City, new { maxlength = 15 })
    </div>

    <p><strong>Region</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Region, new { maxlength = 15 })
    </div>

    <p><strong>Postal Code</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.PostalCode, new { maxlength = 10 })
    </div>

    <p><strong>Country</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Country, new { maxlength = 15 })
    </div>

    <p><strong>Phone</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Phone, new { maxlength = 24 })
    </div>

    <p><strong>Fax</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Fax, new { maxlength = 24 })
    </div>

    <input type="submit" value="Create" />
</fieldset>
}
