@model PracticeEF.ResourceAccess.Entities.Customers
@{
    ViewBag.Title = "Create Customer";
}

@using (Html.BeginForm("ModifyAction", "Customers"))
{
<fieldset>
    <legend>Modify Customer</legend>

    @Html.HiddenFor(t => Model.CustomerID)
    <p><strong>CustomerID</strong></p>
    <div class="editor-label">
        @Html.DisplayFor(t => Model.CustomerID)
    </div>

    <p><strong>Company Name</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.CompanyName)
    </div>

    <p><strong>Contact Name</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.ContactName)
    </div>

    <p><strong>Address</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Address)
    </div>

    <p><strong>City</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.City)
    </div>

    <p><strong>Region</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Region)
    </div>

    <p><strong>Postal Code</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.PostalCode)
    </div>

    <p><strong>Country</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Country)
    </div>

    <p><strong>Phone</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Phone)
    </div>

    <p><strong>Fax</strong></p>
    <div class="editor-field">
        @Html.TextBoxFor(t => Model.Fax)
    </div>

    <input type="submit" value="Modify" />
</fieldset>
}
